<div class="row">
    <div class="col-md-4"></div>
    <div class=" col-md-4">
        <form  ng-submit="edit(user)"  name="form">
            <h3>Edit user</h3>
            <div class="form-group">
                <input type="text" class="form-control"  ng-model="user.username" placeholder="username" value="{{user.username}}"></input>
            </div>
           <img src="{{user.avatar.url}}" alt="">
            <div class="form-group">
                <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">Select Avatar</div>
            </div>


            <div class="form-group">
                <input type="password" class="form-control" ng-model="user.password" placeholder="password" ></input>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="user.password_confirmation" placeholder="password confirmation" ></input>
            </div>
            <button type="submit" class="btn btn-primary">edit</button>
        </form>
        <br>
    </div>
</div>