<div class="row">
    <div class="col-md-4"></div>
    <div class=" col-md-4">
    <form  ng-submit="login(user) ">
        <h3>Add a new user</h3>
        <div class="form-group">
            <input type="text" class="form-control"  ng-model="user.email" placeholder="email" ng-model-options="{debounce: 300}"></input>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" ng-model="user.password" placeholder="password" ng-model-options="{debounce: 300}"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
</div>