<div class="row">
<div class="col-md-3"></div>
<div class=" col-md-6">
    <label>Search: <input ng-model="searchText" ng-model-options="{debounce: 300}"></label>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>body</th>
        </tr>
        </thead>
        <tbody ng-repeat="post in posts | filter:searchText">
        <tr>
            <td><a ui-sref="post({id:post.id})">{{post.id}}</a></td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>
        <tbody>
    </table>
    <a ng-click="post_load()">Show more post</a>

</div>
</div>